.contendor{
    display: flex;
    flex-direction: column;
    margin:2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.303);
    border-radius: 10px;
    background-color:rgba(224, 224, 224, 0.193); 
    width: 50%;
}

.contenedor-tituloSubtitulo{
    display: flex;
    margin-bottom: 0.5rem;
}

.foto-texto-perfil{
    display: flex;
    justify-content: center;
}

.fotoperfil{
    width: 80%;
    border-radius: 100%;
}

.publicacion{
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    width: 100%;
    border-radius: 5px;
}

.tags{
    display: flex;
    justify-content: start;
    margin-top: 0.5rem;
}

.contenedor-publicacion{
    width: 80%;
}

.contenedor-perfil{
    width: 10%;
}

.user-twitter{
    margin-left: 0.5rem;
    color:rgb(150, 150, 150);
    font-weight: 100;
  
}

.contenedor-general{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.nav{
    height: 3rem;
    background-color:#F2F2F2; 
    margin-bottom: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  
  }